.grid-layout {
  display: -ms-grid;
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-template-columns: 1fr [start] 240px [middle] 240px [end] 240px 1fr;
  column-gap: 8px;
}

.header {
  grid-column: 1 / -1;
  grid-row: span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.title {
  min-height: 20px;
  position: sticky;
  top: 0;
  background-color: #bdc3c7;
  z-index: 1;
  width: 90%;
  text-align: center;
}

.pane {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 232px;
}

.pane-layout {
  display: flex;
  width: 100%;
  grid-column: start / end;
  grid-row: 2 / span 1;
  justify-content: space-between;
}

.pane1 {
  grid-row: 2 / span 1;
  grid-column: start / span 1;
}

.pane2 {
  grid-row: 2 / span 1;
  grid-column: middle / span 1;
}

.pane3 {
  grid-row: 2 / span 1;
  grid-column: end / span 1;
}

.column {
  width: 100%;
  position: sticky;
  top: 30px;
  bottom: 0;
}
