.gridify.tiny {
  background-image: linear-gradient(
      transparent 11px,
      #95a5a6 12px,
      transparent 12px
    ),
    linear-gradient(90deg, transparent 11px, #95a5a6 12px, transparent 12px);
  background-size: 100% 12px, 12px 100%;
}

.card {
  margin: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

/* Heights */

.card--small {
  min-height: 32px;
}

.card--medium {
  min-height: 60px;
}

.card--large {
  min-height: 240px;
}

/* Colours */

.card--color1 {
  background-color: #462066;
}

.card--color2 {
  background-color: #ffb85f;
}

.card--color3 {
  background-color: #ff7a5a;
}

.card--color4 {
  background-color: #00aaa0;
}

.card--color5 {
  background-color: #8ed2c9;
}

/* Behaviour */

.card--sticky {
  position: sticky;
  top: 30px;
}
