.layout {
  display: -ms-grid;
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-template-columns: 1fr [start] 240px [middle] 240px [end] 240px 1fr;
  column-gap: 8px;
  height: calc(100vh + 200px);
}

.header {
  grid-column: 1 / -1;
  grid-row: span 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pane-layout {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: auto;
  grid-column: start / end;
  grid-row: 2 / span 1;
  justify-content: space-between;
}

.pane {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 232px;
  position: -webkit-sticky;
  position: sticky;
}

.pane--one {
  grid-row: 2 / span 1;
  grid-column: start / span 1;
}

.pane--two {
  grid-row: 2 / span 1;
  grid-column: middle / span 1;
}

.pane--three {
  grid-row: 2 / span 1;
  grid-column: end / span 1;
}

.card {
  margin: 4px;
  border-radius: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Heights */

.card--small {
  min-height: 32px;
}

.card--medium {
  min-height: 60px;
}

.card--large {
  min-height: 240px;
}

/* Colours */

.card--color1 {
  background-color: #462066;
}

.card--color2 {
  background-color: #ffb85f;
}

.card--color3 {
  background-color: #ff7a5a;
}

.card--color4 {
  background-color: #00aaa0;
}

.card--color5 {
  background-color: #8ed2c9;
}
